html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    
}
*{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #e7ecf2;
}
